<!DOCTYPE html>
<html lang="en">
    <%- require("./header.ejs")() %> 
<!-- Little hack for TS exports -->
<!-- <script>var exports = {"__esModule": true};</script> -->
<body class="fix-header">
    <div>
        dskjfhвsss
    </div>
    <%- require("./content.ejs")() %> 
</body>
</html>